@media (min-width: 752px) {
    [class*="PageHeader-logo-"] {
        content: url("theme.park/css/addons/sonarr/sonarr-text-logo/sonarr-text-logo2.png");
        margin-left: 15px;
        width: 120px;
        height: 40px;
    }
}


[class*="LoadingPage-logoFull-"] {
    content: url("theme.park/css/addons/sonarr/sonarr-text-logo/sonarr-text-logo2.png");
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 120px;
    height: 40px;
    opacity: 1;
}

.panel-header > img.logo {
    content: url("theme.park/css/addons/sonarr/sonarr-text-logo/sonarr-text-logo2.png");
    width: auto;
}
